#container
{
  
  height: auto;
  text-align: center;
}

#header
{
    background-color: rgb(169, 195, 237);
    height: 100px;
    width: 100%;
    margin-right: 0%;
    display:inline;
    float:right;
}
#heading
{
  
text-align: center;
font-style: italic;
font-family: Cambria, Cochin, Georgia, 'Times New Roman', serif;
color: rgb(106, 62, 103);
}
body
{
    background-image:url("bg.jpg");
}
#container1
{
    background-color: rgb(199, 218, 249);
    margin: 100px 400px 75px 350px;
    height: 300px;
    border-radius: 30px;
    text-align: center;
}
#header1
{
    border-radius: 35px;
    background-color: lightblue;
    color: grey;
    text-align: center;
}
.input_group
{
    padding: 15px;
    font-size: 20;
    color: rgb(85, 72, 72);
}
input, button{
    border-radius: 5px;
    padding: 5px;
}
button:hover {
  background-color: #ddd;
  color: black;
}
.topnav {
    width: 100%;
      overflow: hidden;
      background-color: rgb(199, 205, 205);
      border: 2px solid rgb(144, 151, 152);
    }
    
    /* Style the topnav links */
    .topnav a {
      float: left;
      display: block;
      color: #0f0d0d;
      text-align: center;
      padding: 10px 10px;
      height:15px;
      border: 1.2px solid rgb(255, 254, 254);
      border-radius: 5px;
      text-decoration: none;
    }
    /* Change color on hover */
  .topnav a:hover {
      background-color: #ddd;
      color: black;
    }